html, body {
    height: 100%;
}
body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.conteiner {
    height: auto;
    width: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 42px;
}
h2 {
    font-size: 1.17em;
    margin: 0px;
}
p {
    color: lightslategray;
    font-size: 14px;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cuadrado {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    background-color: #6875f5;
    border-radius: 5px;
}
.seccion {
    
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}
.cuadroTexto {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 520px;
    height: auto;
}